.u-section-1 .u-sheet-1 {
  min-height: 223px;
}

.u-section-1 .u-text-1 {
  margin: 85px auto 10px;
}.u-section-2 .u-sheet-1 {
  min-height: 393px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-icon-1 {
  width: 36px;
  height: 36px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  width: 110px;
  margin: 30px auto 0;
}

.u-section-2 .u-icon-2 {
  width: 36px;
  height: 36px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  width: 84px;
  margin: 31px auto 0;
}

.u-section-2 .u-icon-3 {
  width: 36px;
  height: 36px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  width: 209px;
  margin: 9px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-3 {
    margin-left: 274px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 274px;
    margin-right: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-3 {
    margin-left: 184px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 184px;
    margin-right: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-icon-3 {
    margin-left: 84px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 84px;
    margin-right: 48px;
  }
}