.folioHeader {
  background: rgb(241, 240, 239);
  padding: 30px;
  z-index: 9999;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  opacity: 1;
  top: 0px;
  bottom: 720px;
  left: 0px;
  right: 0px;
}

.currentPageHead {
  color: #659d89;
}


li,a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}


.pageMenu {
  list-style: none;
}

.pageMenu li {
  display: inline-block;
  padding: 0px 20px;
}

.pageMenu li a {
  transition: all 0.2s ease 0s;
}

.pageMenu li a:hover{
  color: rgb(121, 182, 36);
}
